.Header_part_deals_in_outer_div {
  background: #A076F9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Deals_in_div {
  background: #FFE4A7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
}
.GSTN{
  padding-left: 30%;
}